body{
  margin: 0;
  padding: 0;
  background-color: #161616;
  color: antiquewhite;
  font-family: 'Barracuda';
  font-size: 30px;
}
.container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: min-content;
  flex-direction: column;
}